{% comment %} #TODO use better data on preview {% endcomment %}
<div class="card mb-3 bg-light border-info">
    <div class="card-body">
        <h5 class="card-title">{{ announcement.organization.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ announcement.created_on }}</h6>
        <div>            
            {% include 'webapp/partials/show_announcement_badge.html' with announcement_state=announcement.extra_data.announcement_state team=announcement.extra_data.team %}
        </div>
        <div class="card-footer">
            {{ announcement.organization.get_category_display }}
        </div>
        <a href="{% url 'webapp:announcement-detail' id=announcement.id %}" class="btn btn-primary stretched-link">Poznaj szczegóły</a>
    </div>
</div>