<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index'%}">Dobrodzieje</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link {% if navbar_active == 'index' %}active{% endif %}" href="{% url 'index'%}">O stronie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if navbar_active == 'for-organizations' %}active{% endif %}" href="{% url 'for-organizations'%}">Dla organizacji</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if navbar_active == 'for-creators' %}active{% endif %}" href="{% url 'for-creators'%}">Dla twórców</a>
          </li>

        </ul>
        <ul class="navbar-nav me-end">
          <li class="nav-item">
            <a class="nav-link" href="#">Moje ogłoszenia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Moje Drużyny</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
              </svg>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Ustawienia Konta</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Wyloguj się</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Zaloguj się</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Zarejestruj się</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>