{% extends 'layout.html' %}
{% load static %}

{% block load_css %}
     <link href="{% static 'chat/main.css' %}" rel="stylesheet">
{% endblock load_css %}

{% block content %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <div class="h4">Chatroom dla {{ organization }}</div>
                <div class="form-control chat-window">
                    <ul id="message-list">
                    </ul>
                </div>
                <input class="form-control" id="input" type="text"></br>
                <input class="btn btn-secondary btn-lg btn-block" id="submit" type="button" value="Send">
            </div>
            <div class="col-6">
                <div class="h4">Uczestnicy</div>
                <ul>
                    {% for member in members %}
                        <li {% if member.is_admin %}style='color:red'{% endif %}>{{ member.creator }} - {{ member.get_role_display }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <script>
        const currentUser  = '{{ request.user.email }}';
        const chatWindow = document.querySelector('.chat-window');
        let msgPageToLoad = 1;
        let loadingMsgsFlag = false;

        function appendNewMsg(data, loadedMsgs=false) {
            const messageList = document.querySelector('#message-list');
            //#TODO set postion ass li clas
            const position = (data.sender === currentUser) ? 'right' : 'left'
            const newMsg = document.createElement("li");
            newMsg.innerHTML = `<li>${data.sender}: ${data.content}</li>`;

            // When loading msgs from db add to the start of the chat
            // otherwise (websocket msgs) ass to the end of the chat
            if (loadedMsgs) {
                messageList.prepend(newMsg)
            }
            else {
                messageList.append(newMsg)
            }
        }

        function sendMsg(event){
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            // Send to websocket
            socket.send(JSON.stringify({
                'msg_type': 'message',
                'content': message,
                'sender': currentUser
            }));
            messageInputDom.value = '';
        }

        function configureWebSocket(){
            // Configure new WebSocket
            const loc = window.location;
            let wsStart = (loc.protocol === 'https:') ? 'wss://' : 'ws://'
            const endpoint = wsStart + loc.host + loc.pathname + '/'

            const socket = new WebSocket(endpoint);

            // Configure events
            // Receive from websocket
            socket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                appendNewMsg(data);
                scrollToChatPosition(percentage=100);
            }

            socket.onopen = function (e) {
                console.log('open', e)
                //#TODO make user icon online when connection opened
                loadMessages(initialLoad=true);
            }
            socket.onclose = function (e) {
                console.log('close', e)
                //#TODO make user icon offline when connection closed
            }
            socket.onerror = function (e) {
                console.log('error', e)
            }

            return socket
        }

        // Fetches single page of msgs and returns them
        function fetchMessages(){
            const endpoint = window.location.href + '/messages'

            return fetch(endpoint + `?page=${msgPageToLoad}`)
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error('Fetching messages failed!');
                    })
                    .then(msgPage => {
                        // If all msgs loaded - disable load msgs functionality
                        if (msgPageToLoad >= msgPage.numPages) {
                            console.info('All messages loaded')
                            chatWindow.removeEventListener('scroll', handleScrollMsgs)
                        }
                        else {
                            msgPageToLoad++;
                        }
                        return msgPage;
                    })
                    .catch(err => console.log(err))
        }

        // Loads single page of msgs and inserts them to DOM
        function loadMessages(initialLoad=false){
            loadingMsgsFlag = true;
            fetchMessages()
            .then(msgPage => {
                //console.log(msgPage)
                msgPage.data.forEach(msg => {
                    appendNewMsg(msg, true)
                })
                // For first load - scroll to the bottom
                // For other - scroll only a little
                initialLoad ? scrollToChatPosition(percentage=100) : scrollToChatPosition(percentage=25)

                loadingMsgsFlag = false;
            })
        }

        // When users scrolls to the top of the chat window load more msgs
        function handleScrollMsgs(){        
            if (this.scrollTop < 30 && !loadingMsgsFlag) {
                loadMessages()   
            }
        }

        function scrollToChatPosition(percentage) {
            chatWindow.scrollTop = chatWindow.scrollHeight * (percentage/100);
        }

        const socket = configureWebSocket();
        document.querySelector('#submit').onclick = sendMsg;
        chatWindow.addEventListener('scroll', handleScrollMsgs)

        /*
        function debounce(func, wait, immediate) {
            var timeout;
            return function() {
                var context = this, args = arguments;
                var later = function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };
        */
    </script>


{% comment %} 
    <li {% if member.is_admin %}style='color:red'{% endif %}>{{ member.creator }} - {{ member.get_role_display }} <span id="user-{{ member.creator.user.id }}-status">🔴</span></li>

    const currentUserId  = '{{ request.user.id }}';

    socket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        if (data['msg_type'] === 'message') {
            appendNewMsg(data);
            scrollToChatPosition(percentage=100);
        }
        else if (data['msg_type'] === 'user_status') {
            const creatorNode = document.querySelector('#user-' + data['user_id'] + '-status')
            creatorNode.innerHTML = data['status'] === 'online' ? '🟢' : '🔴' 
        }
    }

    socket.onopen = function (e) {
        console.log('open', e)
        //#TODO make user icon online when connection opened
        loadMessages(initialLoad=true);
        socket.send(JSON.stringify({
            'msg_type': 'user_status',
            'user_id': currentUserId,
            'status': 'online'
        }));
    }
    socket.onclose = function (e) {
        console.log('close', e)
        //#TODO make user icon offline when connection closed
        socket.send(JSON.stringify({
            'msg_type': 'user_status',
            'user_id': currentUserId,
            'status': 'offline'
        }));
    } 
{% endcomment %}
{% endblock content %}
