{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        {% if is_author %}
            <div>
                <a class="btn btn-secondary" href="{% url "webapp:announcement-edit" %}">Edytuj Ogłoszenie</a>
                <a class="btn btn-danger" href="{% url "webapp:announcement-delete" %}">Usuń Ogłoszenie</a>
            </div>
        {% endif %}
        {% comment %} #TODO show announcement_state badges to all users not only creators {% endcomment %}
        {% comment %} {% include 'webapp/partials/show_announcement_badge.html' %} {% endcomment %}
        {% if is_creator %}
            {% if announcement_state == 'no team' %}
                {% include 'webapp/partials/detail_no_team.html' with organization_id=announcement.organization.user.id %}
            {% elif announcement_state == 'team opened' %}
                {% include 'webapp/partials/detail_team_opened.html' with team=team organization_id=announcement.organization.user.id looking_for_form=looking_for_form%}
            {% elif announcement_state == 'team closed' %}
                {% include 'webapp/partials/detail_team_closed.html' %}
            {% elif announcement_state == 'team member' %}
                {% include 'webapp/partials/detail_team_member.html' %}
            {% endif %}
        
        {% endif %}       

        {{announcement.organization}}
        {{announcement.content|safe}}
    </div>
{% endblock %}