{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}


{% block load_css %}
     <link href="{% static 'css/multi-select.css' %}" rel="stylesheet">
{% endblock load_css %}

{% block content %}
    <div class="container">
        <form method="GET">
            {{ filter_announcements.form.category|as_crispy_field }}
            {{ filter_announcements.form.city|as_crispy_field }}
            <div>
                {{ filter_announcements.form.stack.label_tag }}
                {% render_field filter_announcements.form.stack|attr:"data-multi-select-plugin"%}
            </div>
            <div>
                {{ filter_announcements.form.looking_for.label_tag }}
                {% render_field filter_announcements.form.looking_for|attr:"data-multi-select-plugin"%}
            </div>
            {% include 'webapp/partials/poland_map.html' %}
            <input class="voivodeship-input-js" type="hidden" name="voivodeship">
            <input type="submit" class="btn btn-primary" value="Filtruj">
        </form>
    </div>
    <div class="container mt-3">
        {% for announcement in announcements %}
            {% include "webapp/partials/annnouncement_preview.html" with announcement=announcement %}
        {% endfor %}
    </div>

    {% include "partials/pagination.html" %}

    <script>
        const regions = document.querySelectorAll('path.region');
        const voivodeshipInput = document.querySelector('.voivodeship-input-js');
        let previouslySelectedRegion = null;
        // If voivodeship quer param present (autoselection after refresh)
        //const voivodeshipQueryId = (new URL(document.location)).searchParams.get('voivodeship');
        //const voivodeshipQueryPath = document.getElementById(voivodeshipQueryId);
        //if (voivodeshipQueryPath) selectRegion(voivodeshipQueryPath);
        
        function selectRegion() {           
            const alreadySelected = this.classList.contains('selected');

            // Clear all regions from selection
            regions.forEach(region => {
                region.classList.remove('selected');
            })
            // if voivodeshipPath from query params is present use it
            //const voivodeshipPath = voivodeshipQueryPath ? voivodeshipQueryPath : this

            // Allow to uncheck a region
            if (!alreadySelected) {
                // Set the clicked region as selected
                this.classList.add('selected');

                // Insert its id to the form input
                voivodeshipInput.value = this.id;
            }
            else {
                voivodeshipInput.value = null;
            }
        }

        regions.forEach(region => {
            region.addEventListener('click', selectRegion)
        })
    </script>
    <script src="{% static 'js/multi-select.js' %}"></script>
{% endblock %}