{% extends 'layout.html' %}

{% block content %}
<ol>
    <li>Jak się zarejestrować i używać (konto)</li>
    <li>
        Jak szukać organizacji
        <ul>
            <li>Wybierz kategorię</li>
            <li>Wybierz lokalizację</li>
            <li>Wybierz organizację</li>
        </ul>
    </li>
    <li>Jak pomóc wybranej organizacji</li>
    <ul>
        <li>Skontaktuj się z organizacją</li>
        <li>Zaproś ludzi do drużyny</li>
        <li>Stwórzcie kosztorys (uruchomienie i utrzymanie strony)</li>
    </ul>
</ol>

{% endblock %}