{% extends 'layout.html' %}

{% block content %}
<ol>
    <li>Jak się zarejestrować i używać</li>
    <li>
        Podstawowe zasady bezpieczeństwa
        <ul>
            <li>Strona nie powinna mieć logowania</li>
            <li>Spytaj ile będzie kosztowała strona i jej utrzymanie</li>
            <li>Spytaj co należy zrobić w przypadku problemów</li>
        </ul>
    </li>
    <li>Jak pomóc twórcom</li>
    <ul>
        <li>Opisz jak ma wyglądać strona</li>
        <li>Opisz co ma zawierać</li>
    </ul>
    <li>Wyślij rysunki poglądowe</li>
</ol>

{% endblock %}