<div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title js-modal-title" id="requestModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-dark js-modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="creator" class="js-creator-input">
            <input type="hidden" name="team-id" class="js-team-id-input">
            <button type="submit" class="btn btn-primary">Potwiedź</button>
        </form>
      </div>
    </div>
  </div>
</div>